.centeredHeader {
    text-align: center;
    margin-left: -105%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.avatar {
    margin-top: 20px;
    position: absolute;
}
@media (max-width: 768px) {
    .avatar {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 576px) {
    .centeredHeader {
        margin-left: 0;
    }
}