html {
    font-size: 100%;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $s-size;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
p, div {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.25px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
.container {
    min-height: 100%;
    background-color: #E8630C;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer {
    background-color: black;
    h5 {
        color: #E8630C;
    }
    h6 {
        color: #E8630C;
    }
    margin-left: -15px;
    margin-right: -15px;
}
.centered {
    justify-content: center;
    display: inline;
    text-align: center;
}
a, button, span {
    text-decoration: none !important;
    outline: none !important;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none !important;
        outline: none !important;
    }
}
.centeredHeader {
    text-align: center;
    margin-left: -105%;
}
.factLeft {
    text-align: left;
}
.factRight {
    text-align: right;
}
@media (max-width: 1280px) {
    .factLeft {
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center
    }
    .factRight {
        text-align: center;
    }
    img {
        display: none;
        visibility: hidden;
    }
    .centeredHeader {
        margin-left: 0;
        text-align: center;
    }
    .mediaButtons {
        display: none;
        visibility: hidden;
    }
    .btn-group {
        visibility: visible;
    }
}
.btn-group {
    a:hover {
        background: black;
    }
}
.mediaButtons {
    padding-top: 35px;
    justify-content: center;
}
img {
    width: 130px;
    height: 130px;
    top: 0;
    left: 0;
    position: absolute;
}
h1 {
    letter-spacing: 1.4px;
}
h2, h3, h4, h5, h6 {
    letter-spacing: 1.2px;
}
::selection {
    background:#FFFFFF;
    color: #E8630C;
    }
    
    ::-moz-selection {
    background:#FFFFFF;
    color:#E8630C;
    }
    
    ::-webkit-selection {
    background:#FFFFFF;
    color:#E8630C;
    }
@media (min-width: 1280px) {
    .btn-group {
        display: none;
        visibility: hidden;
    }
}
a {
    color: #E8630C;
}
a:hover {
    color: #000000;
    background-color: #E8630C;
}