html {
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $s-size;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
p, div {
    font-family: 'Roboto', sans-serif;
    color: $white;
    letter-spacing: 0.3px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
a, button, span {
    text-decoration: none !important;
    outline: none !important;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none !important;
        outline: none !important;
    }
}
a {
    color: $bright-orange !important;
}
a:hover {
    color: #000000 !important;
    background-color: $bright-orange;
}

@media (max-width: 1280px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center
    }
}
h1 {
    letter-spacing: 1.4px;
}
h2, h3, h4, h5, h6 {
    letter-spacing: 1.2px;
}
::selection {
    background:#000000;
    color: $bright-orange;
    }
    
    ::-moz-selection {
    background:#000000;
    color: $bright-orange;
    }
    
    ::-webkit-selection {
    background:#000000;
    color: $bright-orange;
    }